In [1]:
import pandas as pd
import numpy as np

In [12]:
df=pd.read_csv("./cleaned_train.csv")
df.head()

                                                text       Brand  NODE_ID
0  pete cat bedtim blue doll inch pete cat bedtim...    merrymak        0
1  new yorker nyhm refriger magnet x cat tea cup ...  new yorker        1
2  ultim selfsuffici handbook complet guid bake c...      imusti        2
3  amway nutrilit kid chewabl iron tablet nutrili...       amway        3
4  teacher planner compani lesson academ teacher ...         NaN        4

In [13]:
df.isnull().sum(axis = 0)

text           0
Brand      65053
NODE_ID        0
dtype: int64

In [14]:
df = df.dropna()
df = df.reset_index(drop=True)

In [16]:
df1.shape

(31218, 3)

In [18]:
df1.isnull().sum(axis = 0)

text       0
NODE_ID    0
dtype: int64

In [15]:
df1 = df.sample(frac=0.011).reset_index(drop=True)

In [17]:
del df1['Brand']

In [19]:
# model part
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import MultinomialNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import LinearSVC
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import GridSearchCV

from sklearn.metrics import accuracy_score, classification_report
X = df1.iloc[:,:-1]
y = df1.iloc[:,-1]

In [20]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.model_selection import train_test_split

In [23]:
#splitting the dataset into training and test parts
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [24]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((20916, 1), (10302, 1), (20916,), (10302,))

In [25]:
x_train.text.head()

8803     cl chines laundri women hira ballet flat rhine...
23680    unit color benetton boy stripe regular fit pol...
23394    madhav handicraft sheesham wood bedsid tabl si...
27159    thegiftkart samsung j prime back case cover fu...
29334    larg capac plastic water bottl sport picnic bi...
Name: text, dtype: object

In [26]:
from sklearn.pipeline import Pipeline
svc = Pipeline([('vect', CountVectorizer(ngram_range=(1,2))),
               ('tfidf', TfidfTransformer(use_idf=False)),
               ('model',LinearSVC(random_state=42,C=10)),
               ])

In [27]:
svc.fit(x_train.text, y_train)

Pipeline(steps=[('vect', CountVectorizer(ngram_range=(1, 2))),
                ('tfidf', TfidfTransformer(use_idf=False)),
                ('model', LinearSVC(C=10, random_state=42))])

In [28]:
ytest = np.array(y_test)
pred_y = svc.predict(x_test.text)

In [29]:
pred_y.shape

(10302,)

In [30]:
pred_y[:5]

array([1602, 1052, 1045, 7678,   92])

In [31]:
print('accuracy %s' % accuracy_score(pred_y, y_test))

accuracy 0.5972626674432149

In [32]:
import pandas as pd
import numpy as np

df=pd.read_csv(r"./cleaned_test.csv")

In [33]:
df.head()

                                                text          Brand
0  command small kitchen hook white decor damag f...        command
1  oneal jump hardwar jag unisexadult glove black...          oneal
2  nfl detroit lion portabl parti fridg quart run...  boelter brand
3  panason singl line kxtsmx cord phone white pan...        panason
4  zero babi girl cotton innerwear bloomer drawer...           zero

In [34]:
df.shape

(110775, 2)

In [35]:
df.isnull().sum(axis = 0)

text        0
Brand    2663
dtype: int64

In [36]:
del df['Brand']

In [37]:
product_ids =list(range(1,110776))

In [38]:
import numpy as np
x=np.array_split(product_ids,10)
product_ids_1,product_ids_2,product_ids_3,product_ids_4,product_ids_5,product_ids_6,product_ids_7,product_ids_8,product_ids_9,product_ids_10 = x[0].tolist(),x[1].tolist(),x[2].tolist(),x[3].tolist(),x[4].tolist(),x[5].tolist(),x[6].tolist(),x[7].tolist(),x[8].tolist(),x[9].tolist()

In [39]:
len(product_ids_1)

11078

In [43]:
df1= df[:11078]

predictions1 =svc.predict(df1.text)

my_submission1 = pd.DataFrame({'PRODUCT_ID':product_ids_1,'BROWSE_NODE_ID':predictions1})

my_submission1.to_csv('./submissions/file_1.csv', index=False)

In [44]:
df2= df.iloc[11078:22156,:]
df3= df.iloc[22156:33234,:]
df4= df.iloc[33234:44312,:]
df5= df.iloc[44312:55390,:]
df6= df.iloc[55390:66467,:]
df7= df.iloc[66467:77544,:]
df8= df.iloc[77544:88621,:]
df9= df.iloc[88621:99698,:]
df10= df.iloc[99698:110775,:]

In [45]:
predictions2 =svc.predict(df2.text)
predictions3 =svc.predict(df3.text)
predictions4 =svc.predict(df4.text)
predictions5 =svc.predict(df5.text)
predictions6 =svc.predict(df6.text)
predictions7 =svc.predict(df7.text)
predictions8 =svc.predict(df8.text)
predictions9 =svc.predict(df9.text)
predictions10 =svc.predict(df10.text)

In [46]:
my_submission2 = pd.DataFrame({'PRODUCT_ID':product_ids_2,'BROWSE_NODE_ID':predictions2})
my_submission3 = pd.DataFrame({'PRODUCT_ID':product_ids_3,'BROWSE_NODE_ID':predictions3})
my_submission4 = pd.DataFrame({'PRODUCT_ID':product_ids_4,'BROWSE_NODE_ID':predictions4})
my_submission5 = pd.DataFrame({'PRODUCT_ID':product_ids_5,'BROWSE_NODE_ID':predictions5})
my_submission6 = pd.DataFrame({'PRODUCT_ID':product_ids_6,'BROWSE_NODE_ID':predictions6})
my_submission7 = pd.DataFrame({'PRODUCT_ID':product_ids_7,'BROWSE_NODE_ID':predictions7})
my_submission8 = pd.DataFrame({'PRODUCT_ID':product_ids_8,'BROWSE_NODE_ID':predictions8})
my_submission9 = pd.DataFrame({'PRODUCT_ID':product_ids_9,'BROWSE_NODE_ID':predictions9})
my_submission10 = pd.DataFrame({'PRODUCT_ID':product_ids_10,'BROWSE_NODE_ID':predictions10})

In [47]:
my_submission2.to_csv('./submissions/file_2.csv', index=False)
my_submission3.to_csv('./submissions/file_3.csv', index=False)
my_submission4.to_csv('./submissions/file_4.csv', index=False)
my_submission5.to_csv('./submissions/file_5.csv', index=False)
my_submission6.to_csv('./submissions/file_6.csv', index=False)
my_submission7.to_csv('./submissions/file_7.csv', index=False)
my_submission8.to_csv('./submissions/file_8.csv', index=False)
my_submission9.to_csv('./submissions/file_9.csv', index=False)
my_submission10.to_csv('./submissions/file_10.csv', index=False)

In [49]:
import os, glob
import pandas as pd

path = "./submissions/"

In [53]:
all_files = glob.glob(os.path.join(path, "*.csv"))

In [57]:
all_files = ['./submissions/file_1.csv',
 './submissions/file_2.csv',
 './submissions/file_3.csv',
 './submissions/file_4.csv',
 './submissions/file_5.csv',
 './submissions/file_6.csv',
 './submissions/file_7.csv',
 './submissions/file_8.csv',
 './submissions/file_9.csv',
 './submissions/file_10.csv']

In [58]:
df_from_each_file = (pd.read_csv(f, sep=',') for f in all_files)
df_merged   = pd.concat(df_from_each_file, ignore_index=True)
df_merged.to_csv("merged_1.csv")